.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 20px;
  height: 100vh;
}

.sidebar-header {
  margin-bottom: 30px;
  font-size: 18px;
}

.sidebar-logo {
  width: 180px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}


.nav-item {
  display: flex;
  align-items: center;
  padding: 12px;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 8px;
  transition: background 0.2s;
}

.nav-item:hover,
.nav-item.active {
  background-color: #0084ff;
  color: #18005a;
}

.nav-icon {
  margin-right: 10px;
}
