.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 0;
  padding-right: 2rem;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.hero-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.94), rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
  z-index: -1;
}

.hero-content {
  max-width: 600px;
  margin-left: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: #1e1e1e;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #000;
}

.highlight {
  color: #000000;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #000f38;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #000f38;
}

.btn-secondary {
  background-color: white;
  color: black !important;
  border: 2px solid black !important;
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: #f3f4f6;
}


@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
