.admin-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 24px;
  background-color: #f4f7fe;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main-content {
    padding: 12px;
  }
}
